.fotoPlace {
    background-image: url("../img/stone_green_background.png");
    /* background-size: 100% 100%; */
    background-repeat: repeat;
    height: max-content;
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    padding-top: 100px;
    position: relative;
}

.frame {
    width: 300px;
    height: 195px;
    margin: 20px 10px;
    box-shadow: 4px 4px 6px black;
    background-image: url("../img/frame.png");
    background-size: contain;
    position: relative;
    /* transition: 0.5s ease; */
    /* border: thin solid red; */
}

.big_frame {
    rotate: none;
    width: 900px;
    height: 576px;
    /* transition: 0.5s ease; */
    position: absolute;
}


/* .frame:nth-child(2) {
    rotate: 1deg;
}

.frame:nth-child(3) {
    rotate: -1deg;
}

.frame:nth-child(5) {
    rotate: -0.5deg;
}

.frame:nth-child(7) {
    rotate: -1deg;
} */

.painting {
    width: 258px;
    height: 158px;
    margin: 21px;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: 0.5s ease; */
    /* z-index: -1; */
}

.big_painting {
    width: 774px;
    height: 465px;
    margin: 63px;
    rotate: none;
    z-index: 100;
    /* transition: 0.5s ease; */
    /* border: 5px solid wheat; */
}

.hide {
    display: none;
    /* visibility: hidden; */
}

h3 {
    /* position: absolute; */
    padding: 0 40px;
    border-radius: 10px;
    /* box-shadow: 4px 4px 10px rgb(6, 87, 6); */
    text-shadow: 1px 1px 4px rgb(6, 87, 6);
    ;
    top: 20px;
    font-size: 40px;
    font-style: italic;
    color: rgb(58, 45, 22);
    margin: 25px 50px;
    /* background-color: rgb(180, 204, 169); */
}

.signboard {
    background-image: url("/img/title_frame3op.png");
    background-size: 100% 100%;
    /* width: 70%; */
    /* height: 90px; */
    position: absolute;
    /* left: 15%; */
    top: 15px;
    text-align: center;
    /* padding: 12px 40px; */
}

.koloda {
    background-image: url("/img/koloda.png");
    /* background-repeat: repeat-x; */
    background-size: contain;
    position: absolute;
    top: 125px;
    left: 0;
    height: 15px;
    width: 100%;
    z-index: 1;
}

@media (max-width: 850px) {
    .koloda {
        top: 100px;
    }
    h3 {
        font-size: 30px;
    }
}