*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.menu {
    height: 60px;
}

.menu a {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 10px;
    background-image: url("../img/koloda2.png  ");
    background-size: cover;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    border: thin solid;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    letter-spacing: 0.2rem;
}

.sub_menu_list {
    display: none;
    /* min-width: 300px; */
    position: absolute;
    left: 0;
    top: 38px;
    width: 300px;
    padding: 20px 0px 0px 0px;
    z-index: 3;
}

.sub_menu_link {
    display: inline-block;
}

.menu li:hover {
    font-size: 30px;
}

body.mouse .menu li:hover .sub_menu_list {
    display: block;
}

body.touch .sub_menu_list.open {
    display: block;
}

div.arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

div.arrow>span {
    position: absolute;
    right: 10px;
    top: 20px;
    border-top: 10px solid rgb(75, 54, 9);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

body.touch .arrow {
    display: inline-block;
}

div.arrow.active>span {
    transform: rotate(-180deg);
}

@media (max-width: 1140px) {
    .menu li {
        font-size: 20px;
    }
    .menu li:hover {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    #menu_switcher {
        display: block;
        position: absolute;
        top: 5px;
        left: 10px;
        height: 30px;
        width: 40px;
        z-index: 4;
        cursor: pointer;
        transition: ease 0.5s;
    }
    #menu_switcher.active {
        /* left: 0px; */
    }
    #menu_switcher>span,
    #menu_switcher>span::before,
    #menu_switcher>span::after {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: rgb(75, 54, 9);
        border-radius: 5px;
        transition: ease 0.5s;
    }
    #menu_switcher>span::before {
        content: "";
        top: -10px;
    }
    #menu_switcher.active>span::before {
        top: 0px;
        rotate: 45deg;
    }
    #menu_switcher>span::after {
        content: "";
        bottom: -10px;
    }
    #menu_switcher.active>span::after {
        top: 0px;
        rotate: -45deg;
    }
    #menu_switcher>span {
        top: 10px;
    }
    #menu_switcher.active>span {
        background-color: rgba(0, 0, 0, 0);
    }
    .menu {
        width: 100%;
        height: max-content;
        position: absolute;
        top: 30px;
        left: -100%;
        transition: ease 0.5s;
        z-index: 2;
    }
    .arrow {
        top: 15px;
    }
    .menu.active {
        left: 0;
    }
    .menu_list {
        flex-direction: column;
    }
    .menu li {
        flex-direction: column;
    }
    .sub_menu_list {
        position: relative;
        left: 0;
        top: 0;
        width: 94%;
        padding: 0;
    }
    .menu_link:hover .sub_menu_list {
        display: block;
    }
    .menu a.sub_menu_link {
        justify-content: left;
        text-align: left;
    }
}

@media (max-width: 576px) {
    #menu_switcher {
        top: 5px;
        left: 10px;
    }
    h1 {
        visibility: hidden;
    }
}