* {
    /* border: thin solid green; */
}

.menu {
    display: flex;
    /* justify-content: space-around; */
    list-style: none;
    height: 30px;
    /* height: max-content; */
}

.menu>div {
    /* display: block; */
    border: thin solid black;
    /* border-radius: 5px; */
    /* height: 30px; */
    /* height: max-content; */
    height: 100%;
    width: 25%;
    /* flex-grow: 1; */
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    ;
    /* text-shadow: 3px 3px 10px rgb(87, 72, 6); */
    /* color: rgb(58, 45, 22); */
    /* background-color: rgb(189, 166, 122); */
    background-image: url("../img/koloda2.png  ");
    background-size: cover;
    z-index: 2;
    /* box-shadow: black 5px 5xp 10xp; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.menu div div {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("/img/true.png"); */
    /* background-repeat: repeat; */
}

.menu div div div {
    border: thin solid black;
    letter-spacing: 0;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
    /* color: black; */
    /* text-shadow: 3px 3px 10px rgb(87, 72, 6);
    color: rgb(58, 45, 22); */
    display: block;
    width: 100%;
    /* margin: 40px; */
    /* border: thick solid red; */
}

.menu div:hover {
    /* background-color: rgb(211, 186, 73); */
    font-size: 1.6rem;
}

.menu div.menuSecondLevel {
    /* position: relative; */
    font-size: 1.5rem;
    /* left: -200px; */
    /* top: 15px; */
    display: none;
    z-index: 2;
}

.menuSecondLevel div {
    width: 25%;
    background-image: url("../img/koloda2.png  ");
    background-size: cover;
    padding: 5px;
}

.menu div:hover .menuSecondLevel {
    display: inline;
    /* margin: -16px; */
}

@media (max-width: 1006px) {
    .menu {
        height: 60px;
    }
    .menu div {
        height: 60px;
        font-size: 1.35rem;
    }
}

@media (max-width: 768px) {
    #menu_switcher {
        display: block;
        position: absolute;
        top: 20px;
        left: 5px;
        height: 30px;
        width: 40px;
        /* border: thick solid black; */
        z-index: 4;
        cursor: pointer;
        transition: ease 0.5s;
    }
    #menu_switcher.active {
        left: 150px;
    }
    #menu_switcher>span,
    #menu_switcher>span::before,
    #menu_switcher>span::after {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: rgb(75, 54, 9);
        border-radius: 5px;
        transition: ease 0.5s;
    }
    #menu_switcher>span::before {
        content: "";
        top: -10px;
    }
    #menu_switcher.active>span::before {
        top: 0px;
        rotate: 45deg;
    }
    #menu_switcher>span::after {
        content: "";
        bottom: -10px;
    }
    #menu_switcher.active>span::after {
        top: 0px;
        rotate: -45deg;
    }
    #menu_switcher>span {
        top: 10px;
    }
    #menu_switcher.active>span {
        background-color: rgba(0, 0, 0, 0);
    }
    .menu {
        /* height: 100%;
        width: 100%; */
        width: 150px;
        height: max-content;
        position: absolute;
        top: 30px;
        left: -150px;
        flex-direction: column;
        transition: ease 0.5s;
    }
    .menu.active {
        left: 0;
    }
    .menu div {
        font-size: 1rem;
        width: 100%;
        height: 50px;
        /* height: 550px; */
    }
    .menuSecondLevel {
        position: absolute;
        left: 150px;
        margin-top: -50px;
        width: 100%;
        height: 150px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-image: url("/img/true.png"); */
        /* background-repeat: repeat; */
    }
    .menu div:hover {
        /* background-color: rgb(211, 186, 73); */
        font-size: 1.1rem;
    }
}