* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slideContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /* border: thin solid red; */
}

img {
    max-width: 100%;
    height: auto;
}

.sidebar {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.sidemap {
    height: 100vh;
    /* border: thin solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    transition: transform 0.5s ease-in-out;
    background-size: 100vh;
}

.slide img {
    height: 100vh;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.button {
    width: 5%;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 100;
    /* border-radius: 0 15px; */
}

#butDown {
    left: 29.5%;
}

#butUp {
    left: 26%;
}