/* .mainSidebar {
    width: 20vw;
    height: 80vh;
    border: thin solid black;
} */

.slideContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 600px;
    margin-top: 15px;
    /* border: thin solid red; */
}

img {
    max-width: 100%;
    height: auto;
}

.sidebar {
    height: 600px;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.sidemap {
    height: 600px;
    /* border: thin solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides {
    width: 60%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 40%;
    transition: transform 0.5s ease-in-out;
    background-size: 600px;
}

iframe {
    /* width:vh; */
    height: 600px;
}

.slide img {
    height: 600px;
}

.slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
}

.button {
    width: 5%;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
    border: thin solid gray;
    /* background-color: rgb(180, 204, 169); */
    background-image: url("/img/koloda.png");
    font-size: 80px;
    padding-left: 10px;
    text-shadow: 1px 1px 4px rgb(6, 87, 6);
    color: rgb(58, 45, 22);
}

#butDown {
    left: 40%;
    border-radius: 0 15px 15px 0;
}

#butUp {
    left: 35%;
    border-radius: 15px 0 0 15px;
}

#butUp:hover,
#butDown:hover {
    /* background-color: rgb(211, 186, 73); */
    /* background-image: url("/img/koloda.png"); */
    color: rgb(85, 77, 63);
}

h4 {
    width: 100%;
    text-align: center;
    /* color: rgb(6, 87, 6); */
    /* background-color: rgb(216, 216, 208); */
    background-image: url("/img/title_frame3op.png");
    background-size: 100% 100%;
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    color: rgb(58, 45, 22);
    text-shadow: 1px 1px 4px rgb(6, 87, 6);
    /* position: absolute;
    top: 200px;
    left: 1200px;
    z-index: 100; */
    /* border: thin solid gray; */
    /* border-radius: 5px; */
}