.formulario {
    background-image: url("../img/parchment4_background.jpg");
    background-size: cover;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: thin solid black;
    width: 40rem;
    margin: 20px;
    height: 60vh;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.input {
    margin: auto;
    /* border: thin solid black; */
    width: 35rem;
    text-align: center;
    position: relative;
}

label {
    display: inline-block;
    width: 120px;
    height: 28px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px;
    background-color: rgb(204, 223, 185);
    border-radius: 5px 0 0 5px;
    box-shadow: 4px 4px 10px black;
    position: absolute;
    left: 70px;
    top: 2px;
    /* border: thin solid red; */
}

input {
    position: absolute;
    left: 190px;
    padding: 5px;
    /* border: thin solid red; */
    display: inline-block;
    width: 20rem;
    height: 30px;
    text-align: left;
    font-size: 1.5rem;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 4px 10px black;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    position: static;
    width: 8rem;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    padding: 5px;
}

.destination {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
    border: 3px solid gold;
    background-color: gold;
    box-shadow: 0px 0px 16px orange;
    margin: auto;
    font-size: 44px;
    color: orange;
    font-weight: bold;
    position: relative;
    padding: 0;
}

.objects {
    border: thin solid black;
    width: 10rem;
    height: 30rem;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
}

.object>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

h3 {
    text-align: center;
}

h5 {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin: 5px;
}

.hold {
    border: 5px solid #eee;
}

.hide {
    display: none;
}

.hovered {
    border: 5px solid #8ed7ed;
    border-radius: 15px;
}

.available {
    border: 5px solid #8eeda2;
    border-radius: 50%;
}

.hanged {
    background: linear-gradient(90deg, #8ff4c2 0%, #8f91f4 100%);
    color: crimson;
}

#object1 {
    background-image: url("../img/01.jpg");
}

#object2 {
    background-image: url("../img/02.jpg");
}

#object3 {
    background-image: url("../img/03.jpg");
}

#object4 {
    background-image: url("../img/04.jpg");
}

#object5 {
    background-image: url("../img/05.jpg");
}

#object6 {
    background-image: url("../img/06.jpg");
}

#object7 {
    background-image: url("../img/07.jpg");
}

.object {
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
    cursor: grab;
}

.inserted {
    position: absolute;
    top: -6px;
    left: -5px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 36px orange;
    border: thin solid wheat;
}

p {
    margin: auto;
    text-align: center;
    margin-top: -10px;
    color: rgb(32, 29, 29);
}

.progressBar {
    /* width: 19.9rem; */
    width: 0rem;
    height: 28px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightblue;
    z-index: 1000;
    position: absolute;
    top: 2px;
    left: 190px;
    opacity: 0.5;
    transition: width 2s ease;
}

.divValidar {
    padding-left: 2%;
    padding-top: 6%;
}

.img {
    display: inline-block;
    position: absolute;
    left: 510px;
    top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.val {
    width: 20px;
    height: 20px;
    display: none;
}